<div class='container'>
  <div class='row col-12  main_contents'>
    <nav class="col-12 navbar navbar-dark mypage_nav_bg_color p-1">
      <div class="container-fluid navbar-brand">
        <b>トレーニング一覧</b>
        <!--検索機能は優先度下げる-->
        <!--<ul class="navbar-nav">-->
        <!--  %= form_with url: home_path, method: :get do |f| %>-->
        <!--  <div class="container h-100">-->
        <!--    <div class="d-flex justify-content-center h-100">-->
        <!--      <div class="searchbar">-->
        <!--        %= f.text_field :search_text, class: "search_input", placeholder: "キーワード..." %>-->
        <!--        %= f.button :type => "submit", style: 'border-style: none; background: none;', class: "search_icon" do %>-->
        <!--          <i class="fas fa-search"></i>-->
        <!--        % end %>-->
        <!--      </div>-->
        <!--    </div>-->
        <!--  </div>-->
        <!--  % end %>-->
        <!--</ul>-->
      </div>
    </nav>
    <div class="col-12 content_background ">
      ※参考動画は利用回数に制限がございます。毎日17:00にリセットされます。
      <div class = "row training-index">
        <% @trainings.each do |t| %>
        <div class="col-12 col-lg-6 col-md-12 col-sm-12">
          <div class="card second-row-card">
            <div class="card-body">
              <div class="row">
                <div class="col-1 col-lg-1 col-md-1 col-sm-1 side-area"></div>
                <div class="col-10 col-lg-10 col-md-10 col-sm-10" style="margin-left: 3%;">
                  <div class="row">
                    <div class="col-12">
                      <h5 class="card-title"><b><%= t.name %></b></h5>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7 col-lg-7 col-md-8 col-sm-8">
                      <div class="">【補足情報】</div>
                    </div>
                    <div class="col-5 col-lg-5 col-md-4 col-sm-4">
                      <div class="col-12 text-center">
                        参考動画
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-7 col-lg-7 col-md-8 col-sm-8">
                      <div class="card-text card_annotation_fontsize">
                        <ul>
                          <li>運動強度(METs)：<%= (t.mets_value*60).to_i %></li>
                          <li>消費カロリー<br>：約<%= (t.mets_value.to_f * current_customer.weight.to_i * 10 * 1.05).to_i %>(kcal/10min)</li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-5 col-lg-5 col-md-4 col-sm-4">
                      <div class="col-12 text-center">
                        <%= link_to  training_path(t.id), method: :get, class: "col-12 mx-auto font-weight-bold" do %>
                          <i class="fab fa-youtube fa-3x"></i>
                        <% end %>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div><!--<div class='container'>-->
  </div><!--<div class='row justify-content-center main_contents'>-->
</div><!--<div class='container'>-->