<div class='container'>
  <div class="col-12">
    <nav class="col-12 navbar navbar-dark mypage_nav_bg_color p-1">
      <div class="container-fluid navbar-brand">
        <b>トレーニング参考動画</b>
      </div>
    </nav>
    <div class="col-12 content_background">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12 col-lg-5 col-md-5 col-sm-12">
              <h4><%= @training.name %></h4>
              <p>
                マスタに登録予定の説明を表示する
              </p>
              <%= link_to trainings_path, class:"js-trigger-transition" do %>
              　<b>＞ トレーニング一覧に戻る</b>
              <% end %>
              <div class="row justify-content-center ", style="margin-top: 15px; text-align: center; ">
                <div class="col-10", style="border-top: solid; border-color: #dcdcdc;">
                  <%= image_tag "developed-with-youtube-sentence-case-dark.png", size: '150x50' %>
                </div>
              </div>
            </div>
            <div class="col-12 col-lg-7 col-md-7 col-sm-12">
              <div class = "training-movie-scroll">
                <%= render "movie_contents", {youtube_data: @youtube_data} %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>