<div class="modal-dialog" role="document">
  <div class="modal-content">
    <%= form_with(model: @pj_event_details, url: pj_event_add_training_pj_template_events_path, local: true) do |form| %>
      <div class="modal-header">
        <h5 class="modal-title">トレーニング選択</h5>
      </div>
      <div class="modal-body">
        <ul>
        <% @trainings.each do |t| %>
          <li>
            <%= t.name %>
            <!--%= form.check_box "training", "#{t.id}" ,unchecked_value = "0" %>-->
          </li>
        <% end %>
        </ul>
      </div>
      <%= form.submit "追加する",class: 'btn col-8 col-lg-3 col-md-4 col-sm-6 mx-auto btn-outline-secondary  font-weight-bold btn-block'%>
    <% end %>
  </div>
</div>