                                <li>
                                  テスト
                                </li>
                                <!--<li>-->
                                <!--  <div class="row">-->
                                <!--    <div class="col-6">-->
                                <!--      %= training_name %>（10分:<%= calorie_per_ten_min %>kcal）-->
                                <!--    </div>-->
                                <!--    <div class="col-3">-->
                                <!--      %= f.text_field :name, class: "form-control form-control-sm", placeholder: "時間：分" %>-->
                                <!--    </div>-->
                                <!--    <div class="col-2">-->
                                <!--      <btn>削除</btn>-->
                                <!--    </div>-->
                                <!--  </div>-->
                                <!--</li>-->