<div class="sidebarMenuLinkList">
<li>
  <%= link_to admin_root_path, style: "color:#696969;" do %>
  <!--%= link_to admin_customers_path do %>-->
    <i class="fas fa-user-friends"></i>　会員一覧 (利用不可)
  <% end %>
</li>
<li>
  <%= link_to admin_root_path, style: "color:#696969;" do %>
  <!--%= link_to admin_trainings_path do %>-->
    <i class="fas fa-dumbbell"></i>　トレーニング一覧 (利用不可)
  <% end %>
</li>
<li>
  <%= link_to admin_root_path, style: "color:#696969;" do %>
  <!--%= link_to admin_columns_path do %>-->
    <i class="fas fa-columns"></i>　コラム一覧 (利用不可)
  <% end %>
</li>
<li>
  <%= link_to destroy_admin_session_path, method: :delete do %>
    <i class="fas fa-sign-in-alt"></i>　ログアウト
  <% end %>
</li>
</div>