<div class='container'>
  <div class="col-12  main_contents">
    <nav class="col-12 navbar navbar-dark mypage_nav_bg_color p-1">
      <div class="container-fluid navbar-brand">
        <b>ニュース for health</b>
      </div>
    </nav>
    <div class="col-12 content_background">
      <div class="container-fluid">
        <div class="container">
          <div class="row">
            <div class="col-12">
              テスト
            </div>
          </div>
          <div class="row justify-content-center newsapi_link", style="margin-top:15px;">
            Powered by <%= link_to "https://newsapi.org" do %>　News API　<% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
