<div class='container'>
  <div class="col-12">

    <nav class="col-12 navbar navbar-dark mypage_nav_bg_color p-1">
      <div class="container-fluid navbar-brand">
        <b>ジム検索</b>
      </div>
    </nav>
    <div class="col-12 content_background">
      <div class="container-fluid">
        <div class="container">
          <div class="row justify-content-center">
            <div id="map"></div><!-- 地図を表示する div 要素（id="map"）-->
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 8
    });
  }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=Rails.application.credentials.googlemap[:api_key]%>&callback=initMap" async defer></script>
