<div class="container">
  <div class ="row">
    <div class="col-12 text-center">
      <div id="error_exce">
        <h1>400 Bad Request</h1>
        <p>不正な要求です。</p>
      </div>
    </div>
  </div>
</div>
