<div class="container">
  <div class ="row justify-content-center">
    <div class="col-12 text-center">
      <div id="error_exception">
        <h1>500 Internal Server Error</h1>
        <p>申し訳ございません。システムエラーが発生しました。</p>
      </div>
    </div>
  </div>
</div>
