<div class="container">
  <div class ="row justify-content-center">
    <div class="col-12 text-center">
      <div id="error_exception">
        <h1>422 Unprocessable Entity</h1>
        <p>指定されたページは表示できません。</p>
      </div>
    </div>
  </div>
</div>