@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
@import url('https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c');

/*#### ↓共通フォーマット ####*/
#notice {
  text-align: center;
  background-color: #e8d1ff;
  color: #8b008b;
  font-weight: bold;
  margin-top: 2px;
}

#alert {
  text-align: center;
  background-color: #ffc6c6;
  color: #ff0000;
  font-weight: bold;
  margin-top: 2px;
}

/*loading */
#loader-bg {
  background-color: #e2c6ff;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 999;
}
#loader-bg svg {
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}

/*loading */

/* ヘッダーの後ろに要素が隠れないようにする */

body {
  padding-top: 67px;
  color: #696969;
  font-size: 0.8em;
}

a {
  color: #696969;
  text-decoration:none;
}

a:hover {
  text-decoration:none;
}

.bg-dark{
  background-color: #9932cc;
}

/* アプリ全体のフォントを制御 */
.Contents {
  font-family: "Varela Round",
  "M PLUS Rounded 1c",
  sans-serif
}

.main_contents{
  margin-top: 40px;
  // margin-left: 50px;
}

.required::after {
  content: " *";
  color: red;
  vertical-align: middle;
}

.content_background {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #f1f4fa;
}

::-webkit-scrollbar {
width: 7px;
height: 5px;
}
::-webkit-scrollbar-track {
background-color: #ccc;
// background: rgba(0,  0,0,0.5);
}
::-webkit-scrollbar-thumb {
background: linear-gradient(45deg, #7f00ff, #ff7f00);
width: 130px;
border-radius: 5px;
}

#error_exception {
  width: 500px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px #666666;
  background-color: #e8d1ff;
  text-align: center;
  // p.url { font-family: monospace; }
}

.fadeUp{
	opacity: 0;
	animation-name: fadeUp;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: .25s;
	animation-fill-mode: forwards;
}

@keyframes fadeUp{
	0% {
		opacity: 0;
		transform: translateY(200px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fadeinR {
  animation: fadeinR 1.5s;
}
@keyframes fadeinR {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.fadeinL {
  animation: fadeinL 1.5s;
}
@keyframes fadeinL {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.tooltip {
	position: absolute;
	top: 35px;
	left: 22%;
	padding: 10px;
	font-size: small;
	color: #fff;
	visibility: hidden;
	background: #9400d3;
	opacity: 0;
	transition: 0.5s all;
	transform: translate(-50%, 0);
}
.tooltip::before {
	position: absolute;
	top: -15px;
	left: 40%;
	width: 0;
	height: 0;
	content: "";
	border: 8px solid transparent;
	border-right-color: #9400d3;
	transform: translate(-50%, 0) rotate(90deg);
}
input:focus {
	border: 2px solid #666;
	outline: none;
}
input:focus + .tooltip {
	visibility: visible;
	opacity: 1;
}
@media screen and (max-width: 768px) {
	input {
		width: 100%;
	}
}



/*##### ↑共通フォーマット ####*/

/*#### ↓ヘッダーエリア ####*/
.Header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 67px;
  padding-bottom: 67px;
  z-index: 999;
  // border-shadow: 0px 3px 0px rgba(0,0,0,.1);
}

.nav_bg_color{
  background-color: #ffffff;
  // border-bottom-style: groove;
  box-shadow: 0px 3px 5px rgba(0,0,0,.1);
  // border-width: 1px;
  // border-color: #8b008b;
  // border-width: 3px;
  // border-color: #ba55d3;
}

.icon_area {
  margin-left: 85px;
  margin-right: 15px;
}

.icon_image:hover {
  transition: all 0.2s ease;
  transform: scale(1.1)
}

.heaedr-link {
  font-size: 20px;
  margin-right: 40px;
}

.heaedr-link:hover {
  transition: all 0.2s ease;
  transform: scale(1.2)
}


/* ↓サイドメニュー */
#sidebarMenu {
  height: 100%;
  position: fixed;
  left: 0;
  width: 250px;
  transform: translateX(-250px);
  transition: transform 250ms ease-in-out;
  background: linear-gradient(180deg, #7f00ff 0%, #ff7f00 100%);
}

.sidebarMenuInner{
  margin:0;
  padding:0;
  border-top: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner li{
  list-style: none;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.10);
}

.sidebarMenuInner .sidebarMenuLinkList li{
  transition: all 0.4s ease-out;
      &:hover {
    background-color: #CDDC39;
    color: #fff;
  }
}

.sidebarMenuInner li span{
  display: block;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.50);
}

.sidebarMenuInner li a{
  display: block;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  text-decoration: none;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: absolute;
  z-index: 99;
  height: 100%;
  width: 100%;
  top: 24px;
  left: 30px;
  height: 40px;
  width: 28px;
}

.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #696969;
}

.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 6px;
}

.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 6px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 9px;
}

input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -10px;
}


/* ↑サイドメニュー */

/*#### ↑ヘッダーエリア ####*/


/*#### ↓フッターエリア ####*/
.footer_area{
  margin-bottom: 10px;
}

.footer__link{
  margin-left: 10px;
  margin-right: 10px;
}

a.footer__link { /*アクセスしたことのないリンク*/
color: #808080;
}

a.footer__link:hover {/*マウスが上に乗っている状態*/
  color: #9400d3;
  text-decoration: underline;
}

p.footertopline{
  border-top-style: solid;
  border-width: 1px;
  border-color: #dcdcdc;
}

/*#### ↑フッターエリア ####*/

/*#### ↓ログイン画面 ####*/

.login_input_field {
  margin-bottom: 10px;
}

.login_button{
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_content_title {
  margin-bottom: 20px;
}

.login_sign_up_nav_area {
  margin-top: 20px;
  margin-bottom: 10px;
}

.btn-outline-secondary {
  color: #9400d3;
  border: 3px solid #9400d3;
}

.btn-outline-secondary:hover {
  color: #ffffff;
  background: #9400d3;
  border: 3px solid #9400d3;
}

.btn-outline-secondary:active:focus {
  color: #ffffff;
  background: #9400d3;
  border: 3px solid #9400d3;
}

.signin_content_title {
  margin-bottom: 20px;
}


.login-form hr{
	width: 10%;
	color: #fff;
}

.login-form .form-group{
	margin-bottom: 15px;
}

.login-form label{
	margin-bottom: 15px;
}

.login-form input,
.login-form input::-webkit-input-placeholder {
    font-size: 14px;
}

.login-form .main-login{
 	background-color: #fff;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);

}
.login-form .form-control {
    height: auto!important;
    padding: 8px 12px !important;
    border-radius: 0;
}
.login-form .input-group {
    -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.21)!important;
}
.login-form #button {
    border: 1px solid #ccc;
    margin-top: 28px;
    padding: 6px 12px;
    color: #666;
    text-shadow: 0 1px #fff;
    cursor: pointer;
    -moz-border-radius: 3px 3px;
    -webkit-border-radius: 3px 3px;
    border-radius: 3px 3px;
    -moz-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    -webkit-box-shadow: 0 1px #fff inset, 0 1px #ddd;
    box-shadow: 0 1px #fff inset, 0 1px #ddd;
    background: #f5f5f5;
    background: -moz-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f5f5f5), color-stop(100%, #eeeeee));
    background: -webkit-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -o-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    background: linear-gradient(top, #f5f5f5 0%, #eeeeee 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f5f5f5', endColorstr='#eeeeee', GradientType=0);
}
.login-form .main-center{
 	margin-top: 30px;
 	margin: 0 auto;
 	max-width: 400px;
    padding: 20px 40px;
	background:#ba55d3;
	    color: #FFF;
    text-shadow: none;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.31);

}
.login-form .input-group-addon{
  padding: 10px;
  background-color: #9400d3;
}

.login-form .input-group-addon i {
    color: #009edf;
    font-size: 17px;
}

.login-form .login-button{
	margin-top: 40px;
}

.login-form .login-register{
	font-size: 11px;
	text-align: center;
}


.signin-form .main-center{
  max-width: 400px;
}

/*#### ↑ログイン画面 ####*/


/*#### ↓会員トップ画面 ####*/

p.top_title_link{
  color: #9400d3;
}

p.top_title_link:hover {
  color: #9400d3;
  text-decoration: underline;
}

.search-sec{
  padding: 2rem;
  z-index:998;
}

.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #55595c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}

@media (min-width: 100px){
  .search-sec{
    position: relative;
    top: 0;
    background: rgba(26, 70, 104, 0.51);
  }
}

.wrap-top {
	position: relative;
	width: 100%;/*幅いっぱいに表示*/
	height: 100vh;/*ビューポートの高さいっぱいに表示*/
	overflow: hidden;
// 	background: url(img/bk.jpg) no-repeat center center/cover;/*動画が読み込めないプラウザ対応*/
}

.top-video {
	z-index: 1;
}

.dots {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-color: rgba(255, 255, 255, 0.1);
	background-image: radial-gradient(#000000 15%, transparent 15%),
						 radial-gradient(#000000 15%, transparent 15%);
	background-position: 0 0, 5px 5px;
	background-size: 10px 10px;/*IE11向けにする場合は10px以下にしない*/
	z-index: 2;/*重なり順を二番目に*/
}

 p.top-text{
	position: absolute;
	top: 0;
	display:flex;
	z-index: 3;/*重なり順を一番上に*/
	align-items:center;
	justify-content:center;
	width: 100%;
	height: 100vh;
	margin: 0;
	font-size: 6vmax;
	color: #fff;
  text-shadow:2px 1px 0 #FFF, -1px -1px 0 #FFF,
            -1px 1px 0 #FFF, 1px -1px 0 #FFF,
            0px 1px 0 #FFF,  0-1px 0 #FFF,
            -1px 0 0 #FFF, 1px 0 0 #FFF;
  background: rgba(26, 70, 104, 0.51);
}

p.top-comment{
	position: absolute;
	top: 100px;
	display:flex;
	z-index: 3;/*重なり順を一番上に*/
	align-items:center;
	justify-content:center;
	width: 100%;
	height: 100vh;
	font-size: 1.5vmax;
	color: #fff;
}


.title-fadeIn {
	opacity: 0;
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-delay: .25s;
	animation-fill-mode: forwards;
}

@keyframes fadeIn{
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}



/*#### ↑会員トップ画面 ####*/


/*#### ↓会員マイページ画面 ####*/

section {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #f1f4fa;
}
.wrap_mypage {
    display: flex;
    background: white;
    padding: 1rem 1rem 1rem 1rem;
    border-radius: 0.5rem;
    box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
    margin-bottom: 2rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    border: solid;
    border-width: 2px;
    border-color: #9400d3;
    color: #9400d3;
}

.wrap_mypage:hover {
    background: linear-gradient(135deg,#9932cc 10%,#9400d3 90%);
    color: white;
}

.ico-wrap_mypage {
    margin: auto;
}

.mbr-iconfont {
    font-size: 4.5rem !important;
    color: #313131;
    margin: 1rem;
    padding-right: 1rem;
}
.vcenter {
    margin: auto;
}

.mbr-section-title3 {
    text-align: left;
}
h2.mypage_area {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}
.display-5 {
    font-size: 1.2rem;
}
.mbr-bold {
    font-weight: 700;
}

 p.mypage_area {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    line-height: 25px;
}

.mypage_nav_bg_color{
  background-color: #bf7fff;
}


/*#### ↑会員マイページ画面 ####*/

/*#### ↓会員ホーム画面 ####*/
.select_project_area{
  margin-bottom: 30px;
}

.card{
  margin-bottom: 15px;
  border-radius:0;
  box-shadow: 0 3px 5px rgba(0,0,0,.1);
}

.second-row-card{
 height: 160px;
}

.card_annotation_fontsize{
  font-size: 11px;
}

.border-primary{
  border: 2px solid;
}

.home_add_icon:hover {
  transition: all 0.2s ease;
  transform: scale(1.1)
}

.home_calorie_disp{
  color: #9400d3;
}

/*#### ↑会員ホーム画面 ####*/


/*#### ↓会員情報編集画面 ####*/

.edit-contents .card{
  padding-top: 1rem;
  padding-left: 8%;
}

.edit-contents .content_background{
  padding-top: 1rem;
}

/*#### ↑会員情報編集画面 ####*/

/*#### ↓退会確認画面 ####*/
.unsubscribe-contents .card{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: none;
}

.unsubscribe-contents .content_background{
  padding-top: 1rem;
}

/*#### ↑退会確認画面 ####*/



/*#### ↓プロジェクト作成画面 ####*/

.bs-wizard1 > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard1 > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard1 > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard1 > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard1 > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard1 > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard1 > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard1 > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard1 > .bs-wizard-step > .progress > .progress-bar1 {width:0px; box-shadow: none;}
.bs-wizard1 > .bs-wizard-step > .progress > .progress-bar2 {width:0px; box-shadow: none;}
.bs-wizard1 > .bs-wizard-step.complete > .progress > .progress-bar1 {width:100%;}
.bs-wizard1 > .bs-wizard-step.complete > .progress > .progress-bar2 {width:50%;}
.bs-wizard1 > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard1 > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard1 > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard1 > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard1 > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard1 > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard1 > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard1 > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.bs-wizard2 > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard2 > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard2 > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard2 > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard2 > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard2 > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard2 > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard2 > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard2 > .bs-wizard-step > .progress > .progress-bar1 {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard2 > .bs-wizard-step > .progress > .progress-bar2 {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard2 > .bs-wizard-step.complete > .progress > .progress-bar1 {width:100%;}
.bs-wizard2 > .bs-wizard-step.complete > .progress > .progress-bar2 {width:50%;}
.bs-wizard2 > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard2 > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard2 > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard2 > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard2 > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard2 > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard2 > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard2 > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.bs-wizard3 > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard3 > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard3 > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard3 > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard3 > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard3 > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard3 > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard3 > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard3 > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard3 > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard3 > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard3 > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard3 > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard3 > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard3 > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard3 > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard3 > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }

.bs-wizard-step {
  margin-top: 20px;
  margin-bottom: 20px;
}

.wizard-contents .content_background{
  padding-top: 1rem;
  padding-bottom: 2rem;
  background-color: #f1f4fa;
}

h5 .wizard-contents {
  margin-bottom: 15px;
}

.wizard-contents .main_contents{
  margin-top: 0px;
}

.wizard-contents .card{
  margin-left: 15px;
  margin-right: 15px;
}


// wizard_3の画面

ul.sample1{
  padding: 0;
  width: 100%;
}

ul.sample1 li , ol.sample1 li{
  border-left: solid 6px #9400d3;/*左側の線*/
  border-bottom: solid 2px #dadada;/*下に灰色線*/
  background: whitesmoke;
  margin-bottom: 5px;/*下のバーとの余白*/
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;/*ポチ消す*/
  font-weight: bold;
}


.training_select_scroll{
  height: 170px;
  overflow: auto;
}

.wizard-contents .card-header{
  background-color: #ead6ff;
}

.training_select_caption .card-body{
  padding: 10px 10px 0px 10px;
}


ol.sample2,
ol.sample2 ol{
  counter-reset: list;
  list-style: none;
  padding: 0;
  width:100%;
  font: 14px/1.6;
}
ol.sample2 ol{
  margin: 0 0 0 35px;
  width:315px;
}

.sample2 li{
  position: relative;
  display: block;
  text-decoration: none;
  padding: 3px 3px 3px 8px;
  margin: 8px 0 8px 30px;
  background: #f2e5ff;
  font-weight: bold;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.sample2 li:hover{
  background: #ffd9d3;
}

.sample2 li:before{
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -35px;
  top: 50%;
  height: 28px;
  width: 28px;
  margin-top: -1em;
  background: #9400d3;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

.sample2 li:after{
  content: '';
  position: absolute;
  left: -28px;
  top: 50%;
  margin-top: -6px;
  border: 6px solid transparent;
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.sample2 li:hover:after{
  left: -6px;
  border-left-color: #9400d3;
}

.training_custome_scroll{
  height: 350px;
  overflow: auto;
}


/*#### ↑プロジェクト作成画面 ####*/

.subscribe-area {
background-image: linear-gradient(to top, #e5ccff 0%, #7f00ff 100%);
}

.pb-50 {
    padding-bottom: 50px;
}
.pt-70 {
    padding-top: 70px;
}

.mb-15 {
    margin-bottom: 15px;
}

.subscribe-text span {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 5px;
}

.subscribe-text h2 {
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 6px;
}

.subscribe-text h3 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 6px;
}

.subscribe-wrapper {
    overflow: hidden;
}

.mb-15 {
    margin-bottom: 15px;
}



/*#### ↓プロジェクト作成完了画面 ####*/




/*#### ↑プロジェクト作成完了画面 ####*/




/*#### ↓カレンダー画面 ####*/

.simple-calendar {
  table {
    -webkit-border-horizontal-spacing: 0px;
    -webkit-border-vertical-spacing: 0px;
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgb(221, 221, 221);
    border-collapse: collapse;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
  }

  tr {
    border-collapse: collapse;
  }

  th {
    padding: 6px;
    border-bottom: 2px solid rgb(221, 221, 221);
    border-collapse: collapse;
    border-left: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-top: 0px none rgb(51, 51, 51);
    box-sizing: border-box;
    text-align: left;
  }

  td {
    padding: 6px;
    vertical-align: top;
    width: 14%;

    border: 1px solid #ddd;
    border-top-color: rgb(221, 221, 221);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(221, 221, 221);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(221, 221, 221);
    border-left-style: solid;
    border-left-width: 1px;
  }

  .day {
    height: 80px;
    background: #ffffff;
  }

  .wday-0 {
    color: red;
  }
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {
    color: blue;
  }

  .today {
    background: #FFFFC0
  }

  .past {}

  .past a {
    color: gray;
  }

  .future {}

  .start-date {}

  .prev-month {
    background: #DDD;
  }
  .next-month {
    background: #DDD;
  }
  .current-month {}

  .has-events {}
}

.prev-month a {
  display: none;
}
.next-month a {
  display: none;
}

.past a {
  color: gray;
}


.simple-calendar.table-bordered{
  border:#8b008b;
}


.simple-calendar .card{
  border-radius: 5px;
  background-color: #9933ff;
  border: none;
}

.simple-calendar .card-body{
  padding: 1px;
  color: #ffffff;
}

.cards {
    transition: all 0.2s ease;
    cursor: pointer
}
.cards:hover {
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}

.result-input-info-area{
  border: 1px #000000;
  border-style: double;
  margin-bottom: 10px;
  padding-top: 10px;
}

.callender-event-input .training_select_scroll{
  height: 110px;
  overflow: auto;
  overflow-x: hidden;
}

.event-callender .main_contents{
  margin-top: 0;
}

.event-callender .content_background{
  padding-top: 0;
}

.calender-pjname {
  font-size: 18px;
}

.calender-ym {
  font-size: 25px;
}

.training_add_btn {
  margin-top: 20px;
}

/*#### ↑カレンダー画面 ####*/




/*#### ↓トレーニング詳細画面 ####*/
.training-index .side-area{
  background-color:#9933ff;
  height: 118px;
}
.training-index{
  height: 480px;
  overflow: auto;
}

.training-index .card{
  border-radius: 5px;
}

.fa-youtube{
  color: #ff2d2d;
}

.training-index svg{
    transition: all 0.2s ease;
    cursor: pointer
}

.training-index svg:hover{
    box-shadow: 5px 6px 6px 2px #e9ecef;
    transform: scale(1.1)
}




.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #dcdcdc;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
}

.search_input{
  color: #7f00ff;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 20px;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_input{
  padding: 0 10px;
  width: 130px;
  caret-color: #9400d3;
  transition: width 0.4s linear;
}

.searchbar:hover > .search_icon{
  background: white;
  color: #7f00ff;
}

.search_icon{
  height: 20px;
  width: 20px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:#696969;
  text-decoration:none;
}


.training-movie-scroll{
  height: 400px;
  overflow: auto;
}

.vid {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.vid iframe,
.vid object,
.vid embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
}

/*####   ↑トレーニング詳細画面 ####*/



/*####   ↓ジム検索画面 ####*/

/* マップを表示する div 要素の高さを必ず明示的に指定します。 */
#map {
  height: 400px;
  width: 100%;
}

#target {
  width: 800px;
  height: 500px;
}

.gym-facilities-scroll{
  height: 400px;
  overflow: auto;
  margin-bottom: 30px;
}

.gym-search .content_background{
  padding-top: 1rem;
}

.gym-search form{
  margin-top: 10px;
  margin-bottom: 20px;
  align-items: center;
}

.gym-search .search {
	box-sizing: border-box;
	width: 80%;
	height: 30px;
	padding: 10px 20px;
	background-size: 20px;
	border: 1px solid #333;
	border-right: 0;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: all 0.5s;
}

.gym-search .searchsubmit {
	box-sizing: border-box;
	width: 15%;
	height: 30px;
	padding: 5px;
	cursor: pointer;
	border: 1px solid #333;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

.gym-search .card-body{
  padding: 0;
}

.gym-search .row{
  padding: 0;
}

.gym-search .second-row-card{
  height: 140px;
}

/*####   ↑ジム検索画面 ####*/


/*####   ↓ニュース画面 ####*/

.newsapi_link a:hover {/*マウスが上に乗っている状態*/
  color: #9400d3;
  text-decoration: underline;
}
.articles section{
  padding: 0px;
}

.articles .card {
  margin: 30px auto;
  width: 100%;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px #ccc;
  height: 450px;
}
.articles .card-img {
  border-radius: 5px 5px 0 0;
  max-width: 100%;
  height: 250px;
}
.articles .card-content {
  padding: 20px;
  height: 150px;
}
.articles .card-title {
  font-size: 18px;
  margin-bottom: 20px;
  text-align: center;
  color: #333;
}
.articles .card-text {
  color: #777;
  font-size: 14px;
  line-height: 1.5;
}
.articles .card-link {
  text-align: center;
  border-top: 1px solid #eee;
  padding: 20px;
    height: 50px;
}
.articles .card-link a {
  text-decoration: none;
  color: #0bd;
  margin: 0 10px;
}
.articles .card-link a:hover {
  color: #0090aa;
}

.news-contents .content_background {
  padding-top: 2rem;
}

.aeticle_cards{
  transition: all 0.2s ease;
  cursor: pointer
}

.aeticle_cards:hover{
  box-shadow: 5px 6px 6px 2px #e9ecef;
  transform: scale(1.1)
}

/*↓ タブ　*/
.wrap_tab {
  width: 100%;
  margin: 0 auto;
}
.wrap_tab  ul {
  margin: 0;
  padding: 0;
}

#tab-menu {
  display: flex;
}

#tab-menu li {
  list-style-type: none;
  width: 50%;
}

#tab-menu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 15px;
  text-align: center;
  background: #222222;
  border: 1px solid #dcdcdc;
  border-bottom: none;
}

#tab-menu .active {
  background: #fff;
  color: #696969;
}

#tab-contents .tab {
  width: 100%;
  background: #fff;
  border: 1px solid #dcdcdc;
  border-top: none;
}



#page_top{
  width: 80px;
  height: 80px;
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: #e25407;
  opacity: 0.6;
  }

  #page_top::before {
    font-weight: 900;
    content: "▲";
    font-size: 25px;
    color: #ffffff;
    position: absolute;
    width: 30px;
    height: 10px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

  #page_top::after{
    content: 'PAGE TOP';
    font-size: 13px;
    color: #fff;
    position: absolute;
    top: 20px;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
  }

/*↑ タブ　*/

/*####   ↑ニュース画面 ####*/


/*####モバイル表示暫定対応####*/
@media screen and (max-width: 500px) {
  body {
    font-size: 0.6rem;
  }
  .bs-wizard2 > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .bs-wizard1 > .bs-wizard-step .bs-wizard-stepnum {
    color: #595959;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .bs-wizard3 > .bs-wizard-step .bs-wizard-stepnum {
      color: #595959;
      font-size: 12px;
      margin-bottom: 5px;
  }

  .wizard-contents h4 {
      font-size: 1rem;
  }

  .wizard-contents h5 {
      font-size: 0.8rem;
  }

  .wizard-contents h6 {
      font-size: 0.8rem;
  }

  #tab-menu h6 {
      font-size: 0.8rem;
  }

  .btn {
    font-size: 0.6rem;
  }

  .calender-pjname {
    font-size: 13px;
  }

  .calender-ym {
    font-size: 15px;
  }

  .calender-ym a {
    font-size: 15px;
  }

  .articles .card {
    margin: 30px auto;
    width: 100%;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px #ccc;
    height: 380px;
  }

  .articles .card-img {
    border-radius: 5px 5px 0 0;
    max-width: 100%;
    height: 150px;
  }

  .articles .card-content {
    padding: 20px;
    height: 180px;
  }

  .articles .card-link {
    text-align: center;
    border-top: 1px solid #eee;
    padding: 10px;
    height: 30px;
  }

  .articles .card-title {
      font-size: 15px;
      margin-bottom: 20px;
      text-align: center;
      color: #333;
  }

  .articles .card-text {
      color: #777;
      font-size: 10px;
      line-height: 1.5;
  }

  .gym-search .second-row-card {
      height: 100px;
  }

  .gym-facilities-scroll img{
    width: 100px;
    height: 100px;
  }

  #map {
    height: 300px;
    width: 100%;
  }

  p.top-text {
      position: absolute;
      top: 0;
      display: flex;
      z-index: 3;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 40vh;
      margin: 0;
      font-size: 4vmax;
      color: #fff;
      text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, -1px 1px 0 #fff, 1px -1px 0 #fff, 0px 1px 0 #fff, -1px 0 #fff, -1px 0 0 #fff, 1px 0 0 #fff;
      background: rgba(26, 70, 104, 0.51);
  }


  p.top-comment {
      position: absolute;
      top: 100px;
      display: flex;
      z-index: 3;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 30vh;
      font-size: 1.4vmax;
      color: #fff;
  }

  .dots {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 40vh;
      background-color: rgba(255, 255, 255, 0.1);
      background-image: radial-gradient(#000000 15%, transparent 15%), radial-gradient(#000000 15%, transparent 15%);
      background-position: 0 0, 5px 5px;
      background-size: 10px 10px;
      z-index: 2;
  }

  .wrap-top {
      position: relative;
      width: 100%;
      height: 40vh;
      overflow: hidden;
  }

}


/*####モバイル表示暫定対応####*/


/*------------------------------------
- COLOR primary
bootstrapのprimary色を一括変更
URL: https://lingtalfi.com/bootstrap4-color-generator#
------------------------------------*/

$primary_t1: #9400d3;
$primary_t2: #7000a0;
$primary_t3: #d472ff;
$primary_t4: #dc8bff;
$primary_t5: #3e0058;
$primary_t6: #650090;
$primary_t7: #7a00af;
$primary_t8: #1a0025;
$primary_t9: #e2a0ff;

$primary_shadow: rgba(148, 0, 211, 0.5);
$primary_text_color_dark_bright: #fff;


.alert-primary {
  color: $primary_t5;
  background-color: $primary_t9;
  border-color: $primary_t4;
}

.alert-primary hr {
  border-top-color: $primary_t3;
}

.alert-primary .alert-link {
  color: $primary_t8;
}

.badge-primary {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
}

.bg-primary {
  background-color: $primary_t1 !important;
}

a.bg-primary:hover, a.bg-primary:focus,
button.bg-primary:hover,
button.bg-primary:focus {
  background-color: $primary_t2 !important;
}

.border-primary {
  border-color: $primary_t1 !important;
}

.btn-primary {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-primary:hover {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t7;
  border-color: $primary_t2;
}

.btn-primary:focus, .btn-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t2;
  border-color: $primary_t6;
}

.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary {
  color: $primary_t1;
  background-color: transparent;
  border-color: $primary_t1;
}

.btn-outline-primary:hover {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  color: $primary_t1;
  background-color: transparent;
}

.btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t1;
  border-color: $primary_t1;
}

.btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-outline-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem $primary_shadow;
}

.list-group-item-primary {
  color: $primary_t5;
  background-color: $primary_t4;
}

.list-group-item-primary.list-group-item-action:hover, .list-group-item-primary.list-group-item-action:focus {
  color: $primary_t5;
  background-color: $primary_t3;
}

.list-group-item-primary.list-group-item-action.active {
  color: $primary_text_color_dark_bright;
  background-color: $primary_t5;
  border-color: $primary_t5;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: $primary_t4;
}

.table-hover .table-primary:hover {
  background-color: $primary_t3;
}

.table-hover .table-primary:hover > td,
.table-hover .table-primary:hover > th {
  background-color: $primary_t3;
}

.text-primary {
  color: $primary_t1 !important;
}

a.text-primary:hover, a.text-primary:focus {
  color: $primary_t2 !important;
}