<div class='container'>
  <div class='row main_contents wizard-contents'>
    <div class="col-12 content_background main_contents ">
      <div class="row">
        <div class="col-12">
          <h5 class="font-weight-bold content_title"><u>新規プロジェクト作成</u></h5>
        </div>
      </div>

      <div class="row bs-wizard3" style="border-bottom:0;">
        <div class="col-4 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">基礎情報の入力</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-4 bs-wizard-step complete">
          <div class="text-center bs-wizard-stepnum">プロジェクト設定</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="#" class="bs-wizard-dot"></a>
        </div>
        <div class="col-4 bs-wizard-step active">
          <div class="text-center bs-wizard-stepnum">トレーニング設定</div>
          <div class="progress"><div class="progress-bar"></div></div>
          <a href="" class="bs-wizard-dot"></a>
        </div>
      </div>

       <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-body">

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>