<div class="sidebarMenuLinkList">
<li>
  <%= link_to new_customer_registration_path do %>
    <i class="fas fa-user-plus"></i>　新規アカウント登録
  <% end %>
</li>
<li>
  <%= link_to new_customer_session_path do %>
    <i class="fas fa-sign-in-alt"></i>　ログイン
  <% end %>
</li>
<li>
  <%= link_to guest_sign_in_path, method: :post do %>
    <i class="fas fa-door-open"></i>　ゲストログイン
  <% end %>
</li>
</div>