<footer>
  <div class="container mt-4">
    <p class="footertopline"></p>
  	<div class="row footer_area">
    	<div class="mx-auto">
    	  ForDiaiter
    	</div>
    </div>
    <div class="row footer_area">
  	  <div class="mx-auto">
  	    <%= link_to "利用規約", term_of_service_customers_path, class: "footer__link" %>
        |
        <%= link_to "プライバシーポリシー", privacy_policie_customers_path, class: "footer__link" %>
        |
        <a href= # class= "footer__link">お問合わせ</a>
      </div>
    </div>
    <div class="row footer_area">
    	<div class="mx-auto">
    	  © 2022 Kazuma Kunihara
    	</div>
    </div>
  </div>
</footer>
