<header class="Header">
  <nav class="navbar navbar-expand-lg navbar-light p-3" style="background-color:#fffacd;" >
    <div class="container">
      <a class="navbar-brand" href="/">
        <div class= 'img_wrap_kuni'>
          <%= image_tag('app_icon1.png', size: '90x90') %>
        </div>
      </a>

    </div>
  </nav>
</header>